<h1>Cats</h1>

<p id='notification'></p>

<a id='get-cats-button' href='#'>its the cats</a><br>

<form id='new-cat-form'>
  <input type='text' name='name' placeholder='name'><br>
  <input type='text' name='product' placeholder='product'><br>
  <input type='submit'>
</form>

<ul id='cat-container'>
</ul>